/* p {
  color: aqua;
} */

/* #headline {
  color: cadetblue;
}

.main {
  color: seagreen;
}

#headline, h2 {
  color: indianred;
}

.main p span {
  color: fuchsia;
} */

/* #id {
  color: red;
}

.class {
  color: blue;
} */

/* .hello {
  border: 3px solid orange;
  padding: 30px;
  text-align: center;
} */

/* h1{
  color: red;
} */

div {
  background-color: gray;
}


